<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="gen.css">
  <title>Random Number Generator</title>
</head>

<body>

  <div class="container">
    <div class="jumbotron jumbotron-fluid text-center mt-md-3 py-md-0 pb-md-4">
      <div class="row">
        <div class="col-12 order-2 order-md-1">
          <nav
            class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center justify-content-md-end">
            <a class="navbar-brand" href="gen/">
              <img src="menu.png" width="69" alt="octocat" id="octocat">
            </a>
          </nav>
        </div>
        <div class="col-12 order-1 order-md-2">
          <h1 class="display-3">Random Szám</h1>
          <p class="lead">Nyomd meg a gombot</p>
          <hr class="my-2">
          <section class="my-3">
            <div class="row align-items-center justify-content-around">
              <div class="col-7">
                <h1 class="display-3 pb-md-5 pb-0" id="randomNumber">{{number}}</h1>
              </div>
              <div class="col-11 col-md-6 d-flex justify-content-center">
                <div class="row input-group">
               
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-10">
                <button class="btn btn-primary btn-block" onclick="window.location.reload();">Generate</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>

</html>
